body{
    font-family:Poppins,sans-serif;
    background:linear-gradient(
        135deg,
        #0b75e6,
        #0cced5
    );

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    width:400px;
}

input{

    width:80%;

    padding:10px;

    margin:10px;
}

button{

    padding:10px 20px;

    background:#0b75e6;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;
}

#weather{

    margin-top:20px;
}